/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: red;
}

button {
  background-color: blue
}

p {
    line-height: 1.5;
}

#accessibility-container {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    display: none;
}

#accessibility-container.visible {
    display: block;
}

/* Add more styles as needed */

#accessibility-container {
          position: fixed;
          top: 10px;
          right: 10px;
          background-color: #fff;
          padding: 10px;
          border: 1px solid #ccc;
          display: none;
      }

      #accessibility-button {
          position: fixed;
          top: 20px;
          right: 20px;
          background-color: #007bff;
          color: #fff;
          padding: 8px;
          border: none;
          cursor: pointer;
      }

      /* Responsive styles */
      @media only screen and (max-width: 600px) {
          #accessibility-button {
              top: 10px;
              right: 10px;
          }

          #accessibility-container {
              top: 50px;
              right: 10px;
          }
      }

      #accessibility-button:hover + #accessibility-dropup,
      #accessibility-dropup:hover {
        display: block; /* Show the dropdown when the button is hovered or the dropdown itself is hovered */
      }

      #accessibility-dropup button {
        display: block;
        margin-bottom: 5px;
        background: none;
        border: none;
        cursor: pointer;
      }



      /* Light mode styles */
      body.light-mode {
        background-color: #f5f5f5;
        color: #000;
      }

      body.light-mode #accessibility-button {
        background-color: lightgrey; /* White background for the button in light mode */
        color: #000; /* Black font color for the button in light mode */
      }

      /* Dark mode styles */
      body.dark-mode {
        background-color: #333;
        color: #fff;
      }

      body.dark-mode #accessibility-button {
        background-color: grey; /* Black background for the button in dark mode */
        color: white; /* White font color for the button in dark mode */
      }

      /* Normal mode styles */
      body {
        background-color: white;
        color: #000;
      }
